mat-card {
    max-width: 75%;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    margin: 2px;
    margin-bottom: 0;
    min-width: 300px;
    width: 45%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace
}

textarea {
    width: 100%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace
}

.update-button {
    margin: 8px;
}