<mat-toolbar title="Spu Performs Updating">SPU</mat-toolbar>

<mat-button-toggle-group name="sourceVersions" aria-label="Source Version">
    <mat-button-toggle *ngFor="let version of sourceVers" value="version" [checked]="version === sourceVer"
        (click)="changeSource(version)">
        1.{{version}}
    </mat-button-toggle>
</mat-button-toggle-group>

<button mat-raised-button (click)="update()">Update</button>

<mat-button-toggle-group name="targets" aria-label="Targets">
    <mat-button-toggle *ngFor="let version of availableTargetVers" value="version" [checked]="version === targetVer"
        (click)="changeTarget(version)">
        1.{{version}}
    </mat-button-toggle>
    <mat-button-toggle *ngFor="let version of disabledTargetVers" value="version" disabled>
        1.{{version}}
    </mat-button-toggle>
</mat-button-toggle-group>