<mat-toolbar color="primary" title="Spu Performs Updating">
    <button mat-icon-button [matMenuTriggerFor]="spuMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    {{title}}
</mat-toolbar>

<mat-menu #spuMenu="matMenu">
    <button mat-menu-item (click)="switchLanguage()">
        <mat-icon>language</mat-icon>{{language.switchLanguage}}
    </button>
    <button mat-menu-item (click)="clearCache()">
        <mat-icon>delete</mat-icon>{{language.clearCache}}
    </button>
    <button mat-menu-item (click)="openAboutDialog()">
        <mat-icon>info</mat-icon>{{language.about}}
    </button>
</mat-menu>

<mat-card>
    <div>
        <mat-button-toggle-group name="sources" aria-label="Source Versions">
            <mat-button-toggle *ngFor="let version of versions.slice(1)" [value]="version"
                [checked]="version === source" (click)="changeSource(version)">
                1.{{version}}
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button mat-raised-button color="primary" class="update-button" (click)="update()">{{language.update}}</button>

        <mat-button-toggle-group name="targets" aria-label="Target Versions">
            <mat-button-toggle *ngFor="let version of availableTargets" [value]="version" [checked]="version === target"
                (click)="changeTarget(version)">
                1.{{version}}
            </mat-button-toggle>
            <mat-button-toggle *ngFor="let version of disabledTargets" [value]="version" disabled>
                1.{{version}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div>
        <mat-form-field>
            <mat-label>{{language.inputTitle}}</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8" cdkAutosizeMaxRows="24" cols="36" wrap="off"
                [(ngModel)]="input"></textarea>
            <mat-hint>{{language.inputDescription}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{language.outputTitle}}</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8" cdkAutosizeMaxRows="24" cols="36" wrap="off"
                readonly [ngModel]="output"></textarea>
        </mat-form-field>
    </div>
</mat-card>